<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
 
<configuration>

    <typeAliases>
    	<typeAlias alias="memberDto" type="com.crowd.funding.member.model.MemberDTO"/>
    	<typeAlias alias="noticeDto" type="com.crowd.funding.community.model.NoticeDTO"/>
    	<typeAlias alias="projectDto" type="com.crowd.funding.project.model.ProjectDTO"/>
    </typeAliases>
    
</configuration>